
h2 {
    color: aqua;
}

span {
    color: azure;
    line-height: normal;
}

.block {
    border-radius: 40px;
    border: 20px dotted #36b625;
    overflow: auto;
    height: 1000px;
    background: #301675;
}

.block-1 {
    border-radius: 30px;
    border: 15px solid #301675;
    background: red;
    height: 300px;
    width: 200px;
    line-height: normal;
    border: 40px double #000;
    text-align: center;
    box-sizing: border-box;
    display: inline-block;
}