.footer__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 57px;
}
.footer__logo {
    display: block;
    max-width: 94px;
}
.footer__logo img {
    max-width: 100%;
    height: auto;
}
.footer__block-list {
    display: flex;
    gap: 75px;
}
.footer__block-link {
    color: #051101;
    font-size: 22px;
    font-weight: 500;
    line-height: 1.4;
    transition: all .4s;
}
.footer__block-link:hover {
    opacity: .7;
}
.socials {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.s-text {
    color: #051101;
    font-family: Raleway;
    font-size: 22px;
    font-weight: 700;
    line-height: 1ю4;
}
.socials__list {
    display: flex;
    gap: 15px;
}
.socials__item {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #5cbe3a;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    transition: all .4s;
}
.socials__item:hover {
    background: #9cb576;
}
.line {
    height: 35px;
    background: #5cbe3a;
}
