@import "fonts.css";
@import "reset.css";

@import "header.css";
@import "footer.css";


:root {
    --accent-color: #5cbe3a;
    --accent-color-2: #051101;

}
.body {
    font-family: "Raleway", "Arial", sans-serif;
    line-height: 1.5;
    color: var(--accent-color-2);
    background: #ffffff;
}

.wrapper {
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.main {
    flex-grow: 1;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    flex-grow: 1;
    height: 100%;
    width: 100%;
}
.open {
    display: flex !important;
}

/* =========================================== */


/* =================================================== */

.products__inner {
    display: flex;
    flex-direction: column;
    margin-bottom: 136px;
}
.products__info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: -80px;
}
.products__title {
    color: #000000;
    font-family: Raleway;
    font-size: 44px;
    font-weight: 700;
    line-height: 1.3;
    text-align: center;
}
.products__text {
    color: var(--accent-color-2);
    font-family: Raleway;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    max-width: 470px;
}
.products__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.products__img {
    max-width: 296px;
    margin-bottom: 20px;
}
.products__img img {
    width: 100%;
    height: auto;
}
.products__item-name {
    color: #000000;
    font-family: Raleway;
    font-size: 22px;
    font-weight: 500;
    line-height: 1.4;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.products__rating {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}
.products__item-price {
    color: #000000;
    font-family: Raleway;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.3;
    text-align: center;
    margin-bottom: 20px;
}
.button__info {
    display: flex;
    align-items: center;
    justify-content: center;
}
.products__button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #5cbe3a4d;
    border-radius: 4px;
    padding: 15px 30px 15px 30px;
    max-width: 163px;
    height: 49px;
    margin-bottom: 60px;
    align-self: center;
}
.products__button:hover {
    border-color: #5cbe3a;
}
.products__button:hover .products__button-text {
    color: #5cbe3a;
}
.products__button-text {
    color: var(--accent-color);
}
/* =================================================== */

.media__inner {
    display: flex;
    max-width: 1350px;
    margin-bottom: 130px;
}
.media__img {
    position: static;
    z-index: 1;
}
.media__text {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    background: #f6fff3;
    width: 1000.52px;
    height: 529.84px;
    z-index: 2;
}
.media__title {
    color: var(--accent-color-2);
    font-family: Raleway;
    font-size: 44px;
    font-weight: 700;
    line-height: 1.3;
    text-align: left;
    max-width: 362px;
}
.media__info {
    color: var(--accent-color-2);
    font-family: Raleway;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    max-width: 271px;
    opacity: .7;
    margin-right: 90px;
}
.video-container {
    position: relative;
    width: 1000px; 
    height: 540px; 
    border-radius: 10px;
    overflow: hidden;
    margin-right: -75px;
    margin-top: 63px;
    transform: translateX(-38px);
    z-index: 3;
}

.img__video {
    width: 100%;
    height: auto;
}


.play-button {
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(90deg);
    width: 91px; 
    height: 91px; 
    background: #81d066;
    border-radius: 50%; 
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.play-button::before {
    content: '';
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 25px solid white; /* Цвет треугольника */
}
/* ======================================= */
.train__inner {
    display: flex;
    align-items: center;
    gap: 160px;
    margin-bottom: 100px;
}
.train__img {
    max-width: 636px;
}
.train__img img {
    width: 100%;
    height: auto;
}
.train__list {
    position: relative;
    z-index: 3;
}
.train__item-img {
    display: flex;
    align-items: center;
    justify-content: center;
}
.train__item-img img {
    width: 100%;
    height: auto;
}
.train__item {
    display: flex;
}
.train__title {
    max-width: 476px;
    color: var(--accent-color-2);
    font-family: Raleway;
    font-size: 44px;
    font-weight: 700;
    line-height: 1.3;
    text-align: left;
    margin-bottom: 25px;
    position: relative;
    z-index: 3;
}
.train__item {
    display: flex;
    gap: 16px;
    margin-bottom: 20px;
}
.train__text {
    color: var(--accent-color-2);
    font-family: Raleway;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    max-width: 392px;
}
.train__img-bg {
    position: absolute;
    transform: translate(-100px, -450px);
    z-index: 2;
}
.train__img-bg img {
    width: 100%;
    height: auto;
}
/* ================================================== */
.review__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #ebffe4;
    height: 367.33px;
    margin-bottom: 134px;
}
.review__title {
    color: var(--accent-color-2);
    font-family: Raleway;
    font-size: 44px;
    font-weight: 700;
    line-height: 1.3;
    text-align: center;
    margin-top: 84px;
    margin-bottom: 25px;
}
.review__text {
    color: var(--accent-color-2);
    font-family: Raleway;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    opacity: .7;
    max-width: 392px;
    margin-bottom: 35px;
}
.review__button {
    margin-bottom: 84px;
}
/* ================================================== */
.testimonials__inner {
    display: flex;
    gap: 10px;
}
.tesimonials__buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -140px;
    margin-left: 85px;
}
.testimonials__nav {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-bottom: 50px;
}
.testimonials__prev,
.testimonials__next {
    background: transparent;
    cursor: pointer;
}
.testimonials__button {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border: 1px solid #5cbe3a4d;
    border-radius: 4px;
    padding: 15px 30px 15px 30px;
    width: 195px;
    height: 61px;
    margin-bottom: 50px;
}
.testimonials__button-text {
    color: var(--accent-color);
    font-family: Raleway;
    font-size: 22px;
    font-weight: 600;
    line-height: 1.4;
    text-align: left;
    white-space: nowrap;
}
.tesimonials__buttons2 {
}
.testimonials__nav2 {
}
.testimonials__prev2 {
}
.testimonials__next2 {
}
.testimonials__button2 {
    display: none;
}
.testimonials__button-text2 {
    display: none;
}
.testimonials__pagination2 {
    display: none;
}
.testimonials__wrapper {
    position: relative;
    max-width: 600px;
}
.testimonials__slider {
    margin-left: 20px;
}
.testimonials__slide {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: opacity 0.3s ease;
    box-shadow: -8px 10px 30px 0px #0000000d;
    background: #ffffff;
    height: 437.72px;
    margin-top: 110px;
    margin-bottom: 175px;
}
.swiper-slide-prev.testimonials__slide,
.swiper-slide-next.testimonials__slide {
    opacity: 0;
}
.swiper-slide-active.testimonials__slide {
    opacity: 1;
}
.testimonials__title {
    display: flex;
    align-items: start;
    color: var(--accent-color-2);
    font-family: Raleway;
    font-size: 31px;
    font-weight: 700;
    line-height: 1.3;
    text-align: left;
    margin-top: 20px;
    transform: translateX(-60px);
    margin-bottom: 20px;
}
.testimonials__user {
    display: flex;
    gap: 15px;
}
.testimonials__text {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 25px;
}
.testimonials__name {
    color: var(--accent-color-2);
    font-family: Raleway;
    font-size: 22px;
    font-weight: 600;
    line-height: 1.4;
    text-align: left;
}
.testimonials__info {
    max-width: 275px;
}
.testimonials__review {
    display: flex;
    gap: 35px;
    margin-bottom: 55px;
    transform: translateX(50px);
}
.testimonials__rating {
    display: flex;
    gap: 4px;
}
.testimonials__rating-star {
    width: 20px;
    height: 20px;
}
.testimonials__main {
    color: var(--accent-color-2);
    font-family: Raleway;
    font-size: 22px;
    font-weight: 600;
    line-height: 140%;
    text-align: left;
}
.testimonials__line {
    max-width: 300px;
}
.testimonials__line img {
    width: 100%;
    height: auto;
}
.testimonials__pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 27px;
}
.swiper-pagination-bullet {
    background: var(--accent-color);
    opacity: 0.3;
    width: 25px;
    height: 25px;
}
.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: var(--accent-color);
    opacity: 1;
}
.testimonials__bg {
    position: absolute;
    transform: translate(700px, 37px);
}
.testimonials__bg img {
    width: 100%;
    height: auto;
}




/* --------------------------------------------/
/* ----------------------------------------- */
/* ---------------------------------------- */
@media (max-width: 1450px) {
    .header__top-inner {
        margin-bottom: 50px;
    }
    .hero__img {
        margin-top: -90px;
        margin-right: -106px;
    }
    .hero__shoes-types {
        margin-right: 200px;
    }
    /* ============================== */
    .train__img-bg {
        transform: translate(-100px, -300px);
    }
    /* =============================== */
    .testimonials__wrapper {
        width: 550px;
    }
    .testimonials__bg {
        transform: translate(680px, 37px);
    }
}
@media (max-width: 1350px) {
    .container {
        max-width: 1000px;
    }
    .hero__img {
        max-width: 500px;
        margin-top: 41px;
        margin-right: 85px;
    }
    .hero__img {
        margin-right: -60px;
    }
    .hero__img-container {
        margin-top: -90px;
    }
    /* ================================== */
    .media__title {
        font-size: 35px;
    }
    .video-container {
        width: 1045px;
        right: calc(100% - 996px);
        margin-top: 107px;
    }
    .play-button {
        top: 29%;
        left: 54%;
    }
    /* =============================== */

    .testimonials__bg {
        transform: translate(545px, 37px);
    }
    .tesimonials__buttons {
        margin-left: 50px;
    }
    /* ================================ */
    .footer__block-link {
        font-size: 18px;
    }
    .socials__text {
        font-size: 18px;
    }
}
@media (max-width: 1250px) {
    .hero__shoes-types {
        margin-right: 260px;
    }

    /* ========================= */
    .testimonials__wrapper {
        width: 480px;
    }
    .testimonials__inner {
    margin-left: 104px;
    gap: 89px;
}
    .testimonials__bg {
        display: none;
    }
    .tesimonials__buttons {
        margin-left: 50px;
    }
    .testimonials__title {
        transform: translateX(0);
    }
    .testimonials__review {
        transform: translateX(0);
    }
    .testimonials__text {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .testimonials__info {
        text-align: center;
    }
    .testimonials__user {
        flex-direction: column;
    }
    .testimonials__img {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
@media (max-width: 1100px) {
    .container {
        max-width: 900px;
    }
    .header__top-inner {
        max-width: 814px;
        margin-bottom: 0;
    }
    .hero__img {
        margin-right: -105px;
        transform: scale(.8);
    }
    .hero__sentence {
        font-size: 20px;
        white-space: nowrap;
    }
    .hero__title {
        font-size: 40px;
    }
    .hero__shoes-inner {
        margin-left: -145px;
    }
    .hero__shoes-text {
        top: 54%;
        left: 9%;
    }
    .hero__quantity-figure {
        font-size: 60px;
    }
    /* ===================== */
    .products__inner {
        margin-bottom: 25px;
    }
    /* ===================== */
    .media__inner {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .media__img {
        display: none;
    }
    .media__text {
        width: 670px;
    }
    .media__info {
        text-align: center;
        margin-right: 0px;
    }
    .media__title {
        text-align: center;
    }
    .video-container {
        width: 670px;
        right: calc(100% - 800px);
        margin-right: -276px;
        margin-top: -52px;
    }
    .play-button {
        top: 49%;
        left: 52%;
    }
    /* ==================== */
    .testimonials__inner {
        margin-left: 35px;
    }

    /* ===================== */
    .footer__block-list {
        gap: 50px;
    }
    .footer__block-link {
        font-size: 14px;
    }
    .socials__text {
        font-size: 14px;
    }
    .socials__item {
        width: 43px;
        height: 43px;
    }
}
@media (max-width: 1000px) {
    .header {
        margin-bottom: 0px;
    }
    .header__top-inner {
        justify-content: normal;
        gap: 50px;
        margin-left: 100px;
    }
    .hero__img {
        margin-right: -70px;
    }
    .hero__img.active {
        transform: scale(.75);
    }
    .hero__shoes-inner {
        justify-content: normal;
    }
    .hero__shoes-types {
        gap: 20px;
        margin-top: -80px;
    }
    /* ====================== */
    .train__inner {
        flex-direction: column;
        gap: 48px;
        margin-bottom: -30px;
    }
    .train__list {
        margin-top: 25px;
    }
    .train__item {
        align-items: center;
        justify-content: center;
    }
    .train__img-bg {
        transform: translate(-40px, -420px);
    }
    .train__title {
        font-size: 32px;
    }
    /* ========================== */
    .testimonials__inner {
        margin-left: -21px;
        gap: 63px;
    }
    .tesimonials__buttons  {
        margin-left: 147px;
    }
    .testimonials__slider {
        margin-left: 0px;
    }
    /* =========================== */
    .review__inner {
        width: 637px;
        margin-left: 150px;
    }
    /* ============ */
    .footer__inner {
        flex-direction: column;
        margin-bottom: 20px;
        gap: 5px;
    }
}
@media (max-width: 900px) {
    .container {
        max-width: 600px;
    }

    .header {
        margin-bottom: 10px;
    }
    .header__top-inner {
        max-width: 600px;
        gap: 506px;
        margin-left: -23px;
    }
    .header__top-button {
        display: none;
    }
    .hero__inner {
        flex-direction: column;
    }
    .hero__sentence {
        font-size: 33px;
    }
    .hero__name-img {
        display: none;
    }
    .hero__title {
        font-size: 70px;
    }
    .hero__text-one {
        text-align: center;
    }
    .hero__price {
        margin-bottom: 20px;
        font-size: 40px;
    }
    .hero__content {
        align-items: center;
        margin-bottom: -233px;
    }
    .hero__shoes-text {
        top: 54%;
        left: 9%;
    }
    .hero__shoes-inner {
        align-items: center;
        justify-content: center;
        margin-top: -150px;
    }
    .hero__button {
        padding: 10px 25px 10px 25px;
    }
    .hero__img {
        display: none;
    }
    .buttons {
        gap: 110px;
    }
    .hero__quantity {
        gap: 70px;
        z-index: 2;
    }
    .hero__quantity-figure {
        font-size: 60px;
    }
    .hero__shoes-types {
        margin-top: 2px;
        gap: 120px;
    }
    .burger { 
        display: flex 
    }
    .nav{
        display: none;
        flex-direction: column;
        position: fixed;
        height: 100%;
        width: 100%;
        top: 0; bottom: 0; left: 0; right: 0;
        z-index: 50;
        overflow-y: auto;
        padding: 26vh 15px 30px;
        background-color: white;
        animation: burgerAnimation 0.4s;
    }
    .nav__item {
        font-size: 20px;
    }
    .nav ul {
        flex-direction: column;
        row-gap: 30px;
    }
    @keyframes burgerAnimation {
        from {opacity: 0}
        to {opacity: 1}
    }
    /* ============================= */
    .products__item-name {
        font-size: 17px;
    }
    /* ============================ */
    .media__inner {
        margin-top: -58px;
        margin-bottom: 50px;
    }
    .media__title {
        text-align: center;
    }
    .media__info {
        text-align: center;
        margin-right: 0px;
    }
    .media__text {
        transform: scale(.8);
        width: 800px;
    }
    .video-container {
        right: calc(100% - 473px);
        transform: scale(.8);
        margin-top: -155px;
    }
    /* ======================== */
    .testimonials__inner {
        gap: 80px;
        margin-left: 7px;
    }
    .tesimonials__buttons {
        margin-left: -6px;
    }
    /* ============================ */
    .train__img-bg {
        display: none;
    }
    .train__info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .train__inner {
        flex-direction: column;
        gap: 10px;
        margin-bottom: 0px;
    }
    .train__title {
        font-size: 24px;
    }
    .train__item {
        margin-bottom: 15px;
        max-width: 360px;
    }
    /* ============================ */
    .testimonials__pagination {
        gap: 15px;
    }
    /* ============================ */
    .review__inner {
        margin-bottom: 40px;
        margin-top: -100px;
        margin-left: -3px;
    }
    /* ============================ */
    .footer__inner {
        flex-direction: column;
        gap: 20px;
    }
}
@media (max-width: 800px) {
    .header__top-inner {
        margin-left: -3px;
    }
    /* ==================== */
    .testimonials__inner {
        flex-direction: column;
    }
    .tesimonials__buttons {
        margin-top: 133px;
        margin-bottom: -130px;
        gap: 230px;
        flex-direction: row;
    }
    .testimonials__nav {
        order: 1;
    }
    .testimonials__pagination {
        display: none;
    }
    .testimonials__pagination2 {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 27px;
        margin-top: -150px;
    }
    .testimonials__slider {
        margin-left: 62px;
    }
    /* ================== */
    .media__text {
        width: 700px;
    }
        .video-container {
        right: calc(100% - 462px);
    }
    /* =================== */
    .review__inner {
        margin-top: 116px;
        width: 540px;
        margin-left: 36px;
    }
}
@media (max-width: 700px) {
        .header__top-inner {
            margin-left: 35px;
            gap: 388px;
        }
        .texts {
            font-size: 14px;
            text-align: center;
            max-width: none;
        }
        .hero__price {
            font-size: 31px;
        }
        .buttons {
            flex-direction: row;
            gap: 70px;
        }
        .hero__quantity {
            gap: 50px;
        }
        .hero__quantity-figure {
            font-size: 85px;
        }
        /* ==================== */
        .play-button {
        top: 41%;
        left: 52%;
        }
        .video-container {
            width: 625px;
            margin-top: -210px;
        }
        .media__text {
            width: 625px;
        }
    /* ====================== */
        .testimonials__button {
            width: 147px;
        }
        .testimonials__button-text {
            font-size: 18px;
        }
}
@media (max-width: 650px) {
    .container {
        max-width: 500px;
    }
    .header__top-inner {
        gap: 359px;
        margin-left: 4px;
    }
    .hero__shoes-types {
        margin-right: auto;
        transform: scale(.8);
        gap: 85px;
    }
    .header__top-inner {
        max-width: 500px;
    }
    .hero__shoes-types {
        margin-right: 157px;
    }
    /* ======================= */
    .products__item {
        margin-top: -66px;
    }
    .products__item:nth-child(2) {
        margin-top: -150px;    
    }
    .products__item:last-child {
        margin-top: -150px;
    }
    .products__info {
        margin-bottom: -40px;
    }
    .products__list {
        flex-direction: column;
    }
    .products__item-name {
        font-size: 14px;
    }
    /* ======================= */
    .train__inner {
        margin-bottom: 40px;
    }
    /* ========================= */
    .media__inner {
        margin-bottom: -45px;
    }
    .media__text {
        width: 550px;
    }
    .video-container {
        right: calc(100% - 360px);
        width: 550px;
    }
    .play-button {
        top: 36%;
        left: 52%;
    }
    /* ===================== */
    .testimonials__inner {
        flex-direction: column;
    }
    .tesimonials__buttons {
        margin-top: 70px;
        margin-bottom: -130px;
        gap: 230px;
        flex-direction: row;
    }
    .testimonials__slider {
        margin-left: 0px;
    }
    .testimonials__nav {
        order: 1;
    }
    .testimonials__pagination {
        display: none;
    }
    .testimonials__pagination2 {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 27px;
        margin-top: -150px;
    }
    /* ======================= */
    .review__inner {
        margin-top: 100px;
        margin-left: -16px;
    }
}
@media (max-width: 600px) {
    .header__top-inner {
        gap: 336px;
    }
    .header__top-inner {
        margin-left: 16px;
    }
    .hero__img.active {
        transform: scale(.7);
    }
    .hero__shoes-types {
        margin-top: -166px;
        margin-bottom: 0px;
    }
    /* ============================== */
    .products__inner {
        margin-bottom: 65px;
    }
    /* ================== */
    .media__inner {
        margin-bottom: -50px;
    }
    .video-container {
        right: calc(100% - 363px);
        margin-top: -170px;
    }
    /* ==================== */
    .tesimonials__buttons {
        gap: 90px;
    }
    /* ==================== */
    .review__inner {
        margin-left: 40px;
        width: 425px;
    }
    .review__title {
        font-size: 35px;
    }
    .review__text {
        max-width: 310px;
    }
}
@media (max-width: 550px) {
    .container {
        max-width: 400px;
    }
    .header__top-inner {
        max-width: 400px;
        gap: 287px;
    }
    .hero__sentence {
        font-size: 25px;
    }
    .hero__title {
        font-size: 55px;
        margin-right: 0px;
    }
    .hero__quantity {
        margin-top: -35px;
    }
    .hero__shoes-types {
        gap: 45px;
        margin-right: 83px;
    }
    /* =========================== */
    .products__inner {
        margin-bottom: 0px;
    }
    /* ============================ */
    .media__text {
        width: 500px;
        height: 450px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .media__title {
        font-size: 25px;
    }
    .video-container {
        right: calc(100% - 260px);
        width: 410px;
    }
    .play-button {
        top: 27%;
        left: 53%;
    }
    /* =========================== */
    .train__title {
        font-size: 23px;
        margin-bottom: -11px;
    }
    /* ===================== */
    .testimonials__slider {
        margin-left: -25px;
    }
    .testimonials__wrapper {
        width: 450px;
    }
    .tesimonials__buttons {
        margin-left: 0px;
    }
    /* ======================= */
    .review__inner {
        margin-left: -8px;
    }
    .review__title {
        font-size: 30px;
    }
}
@media (max-width: 500px) {
    .hero__sentence {
        font-size: 20px;
    }
    /* ======================== */
    .train__title {
        font-size: 22px;
        text-align: center;
        margin-bottom: -13px;
    }
    /* ================= */
    .review__inner {
        width: 375px;
        margin-left: 15px;
    }
}
@media (max-width: 450px) {
    .hero__shoes-types {
        gap: 14px;
    }
    .header__top-inner {
        gap: 220px;
        margin-left: 25px;
    }
    .buttons {
        gap: 22px;
    }
    .hero__img-container {
        margin-top: -54px;
    }
    .hero__shoes-text {
        top: 53%;
        left: 8%;
    }
    .hero__shoes-types {
        margin-top: -128px;
    }
    /* =========================== */
    .products__title {
        font-size: 34px;
    }
    /* =========================== */
    .media__inner {
        margin-bottom: -185px;
    }
    .media__text {
        width: 380px;
        height: 440px;
    }
    .media__title {
        font-size: 22px;
    }
    .video-container {
        width: 380px;
    }
    /* ============================= */
    .train__img {
        max-width: 331px;
    }
    /* ==================================== */
    .review__title {
        margin-bottom: 10px;
    }
    .review__text {
        font-size: 12px;
        margin-bottom: 20px;
    }
    /* ================= */
    .testimonials__wrapper {
        width: 440px;
    }
    .testimonials__title {
        font-size: 25px;
    }
    .testimonials__review {
        flex-direction: column;
    }
    .testimonials__rating {
        gap: 0;
    }
}
@media (max-width: 400px) {
    .container {
        max-width: 300px;
    }
    .header__top-inner {
        max-width: 300px;
        gap: 166px;
        margin-left: 8px;
    }
    .hero__sentence {
        font-size: 20px;
    }
    .hero__title {
        font-size: 30px;
    }
    .buttons {
        flex-direction: column;
        gap: 16px;
    }
    .hero__quantity {
        gap: 30px;
    }
    .hero__quantity-figure {
        font-size: 65px;
    }
    .hero__shoes-text {
        top: 53%;
        left: 7.5%;
    }
    .hero__img-container {
        margin-top: -18px;
        margin-right: -33px;
    }
    .hero__shoes-types {
        margin-right: 84px;
        transform: scale(.6);
    }
    /* =============================== */
    .products__item-price {
        font-size: 21px;
    }
    /* =========================== */
    .video-container {
        right: calc(100% - 160px);
        width: 320px;
        margin-top: -114px;
    }
    .media__title {
        font-size: 20px;
    }
    .media__info {
        font-size: 12px;
    }
    .media__text {
        height: 250px;
        margin-bottom: 10px;
    }
    .play-button {
        top: 21%;
        left: 52%;
        width: 76px;
        height: 76px;
    }
    /* ============================ */
    .train__inner {
        margin-bottom: -3px;
    }
    .train__title {
        font-size: 17px;
        margin-bottom: -13px;
    }
    .train__text {
        font-size: 12px;
    }
    /* ========================== */
    .testimonials__wrapper {
        width: 350px;
        margin-left: 0px;
    }
    .tesimonials__buttons {
        gap: 30px;
    }
    /* ====================== */
    .review__inner {
        width: 330px;
        height: 315px;
        margin-left: -14px;
    }
    /* ============================== */
    .footer__block-list {
        gap: 40px;
    }
}










